<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="brand">
      <h2>📚 LMS Admin</h2>
      <small>Library Management</small>
    </div>

    <nav class="menu">
      <a routerLink="/dashboard" routerLinkActive="active">📊 Dashboard</a>
      <a routerLink="/books" routerLinkActive="active">📚 Books </a>
      <a routerLink="/bulk-upload" routerLinkActive="active">📤 Bulk Upload</a>
      <a routerLink="/reports" routerLinkActive="active">📑 Reports</a>
      <a routerLink="/settings" routerLinkActive="active">⚙️ Settings</a>
    </nav>
  </aside>

  <!-- Main Content -->
  <div class="main">
    <!-- Topbar -->
    <header class="topbar">
      <input type="text" placeholder="Search books, authors, categories..." />
      <div class="user-info">
        <span class="bell">🔔</span>
        <div class="profile">
          <span class="avatar">👤</span>
          <div>
            <strong>Admin User</strong>
            <small>Admin</small>
          </div>
        </div>
      </div>
    </header>

    <!-- Dynamic page content -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
