/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* SUCCESS */
.snack-success .mdc-snackbar__surface {
  background-color: #4caf50 !important; /* Green */
  color: #ffffff !important;
}

/* ERROR */
.snack-error .mdc-snackbar__surface {
  background-color: #f44336 !important; /* Red */
  color: #ffffff !important;
}

/* Text color */
.snack-success .mdc-snackbar__label,
.snack-error .mdc-snackbar__label {
  color: #ffffff !important;
}

/* Action button */
.snack-success .mdc-snackbar__action,
.snack-error .mdc-snackbar__action {
  color: #ffffff !important;
}
